BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman  # Puts braces on a new line
IndentCaseLabels: true     # Indents case labels (switch-case)
PointerAlignment: Left     # Makes sure the pointer is always on the left side
NamespaceIndentation: All  # Indents everything within namespaces
